.titulo {
    color: dodgerblue;
}

.navbar {
    background-color: violet;
}


.cart {
    color: blue;
    font-weight: bold;
  }
  
  
  .product-wrapper {
    display: inline-flex;
    padding: 20px;
    width: 100%;
  }
  
  .pb-1 {
    margin-bottom: 1rem;
  }
  
  .product-title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .product-image img {
  margin: 20px;
  max-width: 300px;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    background-color: #80c4ad;
    width: 100%;
    text-align: center;
    margin-bottom: 0
  }
  
  .bottom {
    margin-bottom: 50px
  }

  .btn {
    margin: 0 7px;
  }

  
  
  @media (max-width: 600px) {
    .product-wrapper {
      flex-wrap: wrap;
    }
  }